.home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 600px;
}
.home-left {
    width: 48%;
    height: 95%;
    overflow: hidden;
}
.home-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.4s ease;
}
.home-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.home-right .home-title {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.home-right h1 {
    padding: 50px 10px;
}
.home-right .small-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 50%;
}
.home-right .small-img .small-img-1 {
    width: 48%;
    height: 100%;
}
.home-right .small-img .small-img-2 {
    width: 48%;
    height: 80%;
}
.home-right .small-img .small-img-1, 
.home-right .small-img .small-img-2 {
    position: relative;
    overflow: hidden;
}
.home-right .small-img .small-img-1 h1, 
.home-right .small-img .small-img-2 h1 {
    position: absolute;
    padding: 0;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 18px;
}
.home-right .small-img .small-img-1 img,
.home-right .small-img .small-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.4s ease;
}
.home-left img:hover,
.home-right .small-img .small-img-1 img:hover, 
.home-right .small-img .small-img-2 img:hover {
    transform: scale(1.1);
}
@media (max-width: 570px) {
    .home-right .small-img .small-img-1 h1, 
    .home-right .small-img .small-img-2 h1 {
        font-size: 12px;
    }
}